---
 const personalImageAlt = "Jesús Cantillo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Jesús Cantillo, estudiante de Ingeniería de Sistemas en etapa final de prácticas profesionales.
      <strong>Apasionado por el desarrollo web y la tecnología, con experiencia en soporte técnico, redes, IoT y análisis de datos</strong
      >.
    </p>

    <p>
      Trabajé en configuración de sensores de temperatura <strong
        >redes y soluciones IoT, lo que me permitió desarrollar habilidades prácticas en entornos reales</strong
      >. Actualmente, realizo mis prácticas como Analista de Operaciones, enfocándome en manejo de datos, automatización con Excel y visualización con Power BI.
    </p>

  </div>

  <img width="200" height="200" src="/daniicanlob.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
