---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Diciembre 2024",
    title: "Soporte técnico – Redes e IoT",
    company: "HiTech Services",
    description:
      "Configuración de sensores de temperatura, redes, diagnóstico, mantenimiento de sistemas y documentación técnica.",
  },
  {
    date: "Diciembre 2025",
    title: "Analista de operaciones – Prácticas profesionales",
    company: "Atesa - Interaseo",
    description:
      "Manejo y depuración de datos, automatización con Excel, visualización y reportes en Power BI.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
